
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image:url('https://wallpaperstock.net/wallpapers/thumbs1/51439hd.jpg')
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.box{
  width: 300px;
  padding: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0, 0, 0, 0.50);
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "text"]:focus{
  width: 280px;
  border-color: #2ecc71;
}
.button[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  text-transform: uppercase;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.button[type = "submit"]:hover{
  background: #2ecc71;
}